@page "/Servicios/Editar_Servicio/{Id:int}"
@using CleanHome.Models
@using CleanHome.Extensions
@using CleanHome.Services
@inject ServicioService servicioService
@inject NavigationManager navegar
@inject ToastService toastService
@rendermode InteractiveServer

<PageTitle>Editar tipo de servicio</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5 class="card-title">Editar tipo de servicio</h5>
        </div>

        <EditForm Model="servicio" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />

            <div class="card-body ">
                <div class="row gx-2 g-5 mt-1 mb-1 justify-content-center">

                    @* Nombre *@
                    <div class="col-md-5">
                        <label class="form-label"><strong>Nombre</strong></label>
                        <div>
                            <label>@servicio.Nombre</label>
                        </div>
                    </div>

                    @* Precio *@
                    <div class="col-md-5">
                        <label class="form-label"><strong>Precio</strong></label>
                        <InputNumber class="form-control" @bind-Value="servicio.Precio" />
                        <ValidationMessage For="@(() => servicio.Precio)" />
                    </div>

                    @* Descripción *@
                    <div class="col-md-5">
                        <label class="form-label"><strong>Descripción</strong></label>
                        <InputText class="form-control" @bind-Value="servicio.Descripcion" />
                        <ValidationMessage For="@(() => servicio.Descripcion)" />
                    </div>

                    @* Duración *@
                    <div class="col-md-5">
                        <label class="form-label"><strong>Duración (Horas)</strong></label>
                        <InputNumber class="form-control" @bind-Value="servicio.Duracion" />
                        <ValidationMessage For="@(() => servicio.Duracion)" />
                    </div>

                </div>
            </div>

            @* footer *@
            <div class="card-footer text-center mt-3 d-flex justify-content-center">
                <div class="d-flex justify-content-between gap-2">

                    <a href="/Servicios" class="btn btn-secondary">
                        <span class="bi bi-arrow-left"></span> Volver
                    </a>

                    <button type="submit" class="btn btn-primary bi bi-floppy">
                        Guardar
                    </button>

                    @if (servicio.Estado == Estados.Activo)
                    {
                        <button type="button" class="btn btn-danger bi bi-trash" @onclick="Eliminar">
                            Eliminar
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-success bi bi-arrow-counterclockwise" @onclick="Recuperar">
                            Recuperar
                        </button>
                    }

                </div>
            </div>

        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private Servicios? servicio = new();

    protected override async Task OnInitializedAsync()
    {
        servicio = await servicioService.Buscar(Id);
    }

    private async Task Guardar()
    {
        if (servicio != null)
        {
            var modificado = await servicioService.Guardar(servicio);

            if (modificado)
            {
                toastService.ShowSuccess("El servicio ha sido modificado con éxito!");
                navegar.NavigateTo("/Servicios");
            }
            else
            {
                toastService.ShowWarning("Error al modificar el servicio.");
            }
        }
    }

    private async Task Eliminar()
    {
        if (servicio != null)
        {
            var eliminado = await servicioService.Eliminar(servicio);

            if (eliminado)
            {
                toastService.ShowSuccess("El servicio se ha eliminado con éxito!");
                navegar.NavigateTo("/Servicios");
            }
            else
            {
                toastService.ShowError("Error al eliminar el servicio.");
            }
        }
    }

    private async Task Recuperar()
    {
        if (servicio != null)
        {
            var recuperado = await servicioService.Recuperar(servicio);

            if (recuperado)
            {
                toastService.ShowSuccess("El servicio ha sido recuperado con éxito!");
                navegar.NavigateTo("/Servicios");
            }
            else
            {
                toastService.ShowError("Error al recuperar el servicio.");
            }
        }
    }
}