@page "/crear-solicitud"
@using CleanHome.Models
@using CleanHome.Services
@inject SolicitudService solicitudService
@inject NavigationManager navManager

<PageTitle>Crear Solicitud</PageTitle>

<div class="container py-4">
    <h2 class="mb-4">Crear Nueva Solicitud</h2>

    <div class="card shadow-sm p-4 rounded-4 border-0">

        <div class="mb-3">
            <label class="form-label">Cliente</label>
            <input class="form-control" @bind="nuevaSolicitud.Cliente" />
        </div>

        <div class="mb-3">
            <label class="form-label">Descripción</label>
            <textarea class="form-control" rows="3" @bind="nuevaSolicitud.Descripcion"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Fecha</label>
            <input type="date" class="form-control" @bind="fechaInput" />
        </div>

        <div class="mb-3">
            <label class="form-label">Estado</label>
            <select class="form-select" @bind="nuevaSolicitud.Estado">
                <option value="@EstadoSolicitud.Pendiente">Pendiente</option>
                <option value="@EstadoSolicitud.Completada">Completada</option>
            </select>
        </div>

        <div class="d-flex gap-2 mt-3">
            <button class="btn btn-primary px-4" @onclick="Guardar">
                Guardar
            </button>

            <button class="btn btn-secondary px-4" @onclick="Cancelar">
                Cancelar
            </button>
        </div>

    </div>
</div>

@code {
    private SolicitudDTO nuevaSolicitud = new SolicitudDTO();

    private DateTime fechaInput = DateTime.Now;
    protected override void OnInitialized()
    {
        nuevaSolicitud.Estado = EstadoSolicitud.Pendiente;
    }
    private void Guardar()
    {
        nuevaSolicitud.Fecha = fechaInput;
        nuevaSolicitud.Id = new Random().Next(1, 10000);
        solicitudService.Agregar(nuevaSolicitud);
        navManager.NavigateTo("/");
    }

    private void Cancelar()
    {
        navManager.NavigateTo("/");
    }
}